<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email detail page</title>
</head>

<body>
    <%- include('layout/header', {username}) %>
        <%- include('layout/menu') %>
            <h1>
                Email detail
            </h1>
            <div class="container">
                <div class="subject-container">
                    <p id="subject">
                        Subject:
                    </p>
                    <p>
                        <%= email.subject %>
                    </p>
                </div>

                <div>
                    <p>
                        <%= email.body %>
                    </p>
                </div>
                <% if (email.attachment_path !== null && email.attachment_path !== undefined && email.attachment_path.length> 0) { %>
                    <div class="attach-container">
                        <p>Attach: </p>
                        <p>
                            <a href="#">
                                <%= email.attachment_path %>
                            </a>
                        </p>
                    </div>
                    <% } %>

            </div>


</body>

<style>
    .container {
        padding: 12px;
    }

    .subject-container {
        border-top: 1px dashed gray;
        font-size: 28px;
        display: flex;
        gap: 6px;
    }

    .attach-container {
        border-top: 1px solid gray;
        display: flex;
        gap: 6px;
    }


    #subject {
        font-weight: 600;
    }
</style>

<script>
    const attach = document.getElementsByTagName("a")[0]
    if (attach) {
        const urlAttach = document.getElementsByTagName("a")[0].textContent
        
        attach.addEventListener("click", async () => {
            const attach = document.getElementsByTagName("a")[0]
            const urlAttach = document.getElementsByTagName("a")[0].textContent
            await fetch(urlAttach)
                .then(response => { 
                    console.log(response)
                    return response.blob() 
                })
                .then(blob => {
                    const aElement = document.createElement('a');
                    aElement.setAttribute('download', urlAttach);
                    const href = URL.createObjectURL(blob);
                    aElement.href = href;
                    aElement.setAttribute('target', '_blank');
                    aElement.click();
                    URL.revokeObjectURL(href);
                });
        });
    }

</script>

</html>