<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inbox</title>
</head>

<body>
    <%- include('layout/header', { username: username }) %> <%- include('layout/menu') %>
            <h1>
                Inbox
            </h1>
            <div class="inbox-list">
                <div class="btn-delete">
                    <button id="delete">Delete</button>
                </div>
                <% receivedEmailList.forEach(function(receivedEmail) { %>
                    <div class="inbox-item">
                        <div class="inbox-sender">
                            <input type="checkbox" id="inbox" name="inbox" value="<%= receivedEmail.id %>">
                            <label for="inbox"></label>
                            <p>
                                <%= receivedEmail.sender_fullname %>
                            </p>
                        </div>
                        <p class="inbox-title">
                            <%= receivedEmail.subject %>
                        </p>
                        <div class="inbox-action">
                            <p class="inbox-time">
                                <%= formatDate(receivedEmail.sent_at) %>
                            </p>
                        </div>

                    </div>
                    <% }); %>
            </div>
</body>

<style>
    .inbox-list {
        width: 100%;
    }

    .inbox-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        border: 1px solid #ebeef4;
    }

    .inbox-sender {
        width: 20%;
        display: flex;
        align-items: center;
        gap: 2px;
    }

    .inbox-title {
        width: 70%;
    }

    .inbox-action {
        width: 14%;
        text-align: right;
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .btn-delete {
        display: flex;
        justify-content: flex-end;
        padding: 10px
    }
</style>

<script lang="js">
    const inboxItems = document.querySelectorAll('div.inbox-item');
    const deleteBtn = document.getElementById("delete");

    const deleteEmail = async () => {
        const checkedCheckboxes = document.querySelectorAll("input[name='inbox']:checked");
        const ids = Array.from(checkedCheckboxes).map(checkbox => checkbox.value);

        const inboxItemsSelected = Array.from(inboxItems).filter(function (div) {
            return div.querySelector('input[name="inbox"]:checked');
        });

        if (ids.length <= 0) {
            alert("Nothing to delete");
            return
        }

        const formData = { ids: ids }

        try {
            const response = await fetch('/delete-inbox', {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(formData),
            })
            const result = await response.json()
            if (result.error) {
                alert(result.error)
            } else {
                Array.from(inboxItemsSelected).map(item => item.remove())
            }
        } catch (err) {
            throw new Error(err.message)
        }
    }

    deleteBtn.addEventListener("click", deleteEmail)

</script>

</html>